*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	padding-top: 50px;
}

#index{
  display: none;
}

#mensagem{
  display: none;
  height: 50px;
}

.navMensagem{
  display: none;
  padding: 5px 0px;
  height: 60px;
}
